---
layout: default
---

<div class="page-single">
    <div class="entry-header">
        <!-- Render Title -->
        <h1 class="posttitle">{{ page.title }}</h1>        
    </div>
</div>

<!-- Featured Image -->
{% include featured-image.html %}

<!-- Content -->
{% include article.html %}

<!-- Tags and Taxonomy (mascot-type, mascot-cause, mascot-family) -->
<div class="tags">
    <h4>Type:</h4>
    <div>
        {% for type in page.mascot-type %}
            <a href="/mascot-type/{{ type | slugify }}" class="badge badge-primary">{{ type }}</a>
        {% endfor %}
    </div>

    <h4>Cause:</h4>
    <div>
        {% for cause in page.mascot-cause %}
            <a href="/mascot-cause/{{ cause | slugify }}" class="badge badge-success">{{ cause }}</a>
        {% endfor %}
    </div>

    <h4>Family:</h4>
    <div>
        {% for family in page.mascot-family %}
            <a href="/mascot-family/{{ family | slugify }}" class="badge badge-warning">{{ family }}</a>
        {% endfor %}
    </div>
</div>

<!-- Comments if not disabled with comments: false -->
{% include comments.html %}
