---
title: "Tags"
layout: default
permalink: "/tags.html"
---

{% assign all_content = site.posts | concat: site.pages | concat: site.mascotdex %}

{% assign tag_map = {} %}

{% for item in all_content %}
  {% if item.tags %}
    {% for tag in item.tags %}
      {% assign tag_key = tag | downcase %}
      {% if tag_map[tag_key] %}
        {% assign tag_map[tag_key] = tag_map[tag_key] | push: item %}
      {% else %}
        {% assign tag_map = tag_map | merge: { tag_key => item } %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}

{% for tag in tag_map %}
  <h4 class="mt-5 mb-neg-30" id="{{ tag[0] | replace: " ","-" }}">
    <span class="text-capitalize text-small badge badge-primary">{{ tag[0] }}</span>
  </h4>
  <div class="blog-grid-container">
    {% for item in tag[1] %}
      {% include postbox.html %}
    {% endfor %}
  </div>
{% endfor %}
