---
layout: default
---

<div class="page-single">
    <div class="entry-header">
        <h1 class="posttitle">{{ page.title }}</h1>
    </div>
</div>

<!-- List all mascots under this taxonomy -->
<div class="taxonomy-list">
    <h2>Mascots under "{{ page.title }}"</h2>
    <ul>
        {% for post in site.mascotdex %}
            {% if post[page.layout] == "mascot" %}
                {% assign taxonomies = post | get_taxonomy %}
                {% for taxonomy in taxonomies %}
                    {% if taxonomy[0] == page.title %}
                        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </ul>
</div>
